{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Change Password</title>
{% endblock title %}

{% block content %}

<div id="page-content">
  <!--Body Container-->
  <!--Breadcrumbs-->
  <div class="breadcrumbs-wrapper">
    <div class="container">
      <div class="breadcrumbs"><a href="{% url 'home:index' %}" title="Back to the home page">Home</a> <span
          aria-hidden="true">|</span><span>Change Your Password</span>
      </div>
    </div>
  </div>
  <!--End Breadcrumbs-->
  <!--Page Title with Image-->
  <div class="page-title">
    <h1>Change your password</h1>
  </div>
  <!--End Page Title with Image-->
  <div class="container">
    <div class="row">
      <!--Main Content-->
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 box offset-md-3">
        <p>You are only one step a way from your new password, change your password now.</p>
        <div class="mb-4">
          <form method="post" action="." accept-charset="UTF-8" class="contact-form">
            {% csrf_token %}
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <label for="id_old_password">Old Password <span class="required">*</span></label>
                  {{ form.old_password }}
                </div>
                <!-- Display old password error message -->
                {% if form.old_password.errors %}
                  {% for error in form.old_password.errors %}
                  <div class="text-danger pb-3" role="alert">
                      <p class="error-message">
                          <strong>{{ error|escape }}</strong>
                      </p>
                  </div>
                  {% endfor %}
                {% endif %}
                <div class="form-group">
                  <label for="id_new_password1">New Password <span class="required">*</span></label>
                  {{ form.new_password1 }}
                  <div class="js-validate-password1-error text-danger" role="alert" style="display: none;">
                  </div>
                </div>
                <div class="form-group">
                  <label for="id_new_password2">Confirm Password <span class="required">*</span></label>
                  {{ form.new_password2 }}
                  <div class="js-validate-password2-error text-danger" role="alert" style="display: none;">
                  </div>
                </div>
              </div>
            </div>
            <!-- Display new passwords error message -->
            {% if form.new_password2.errors %}
              {% for error in form.new_password2.errors %}
              <div class="text-danger pb-3" role="alert">
                  <p class="error-message">
                      <strong>{{ error|escape }}</strong>
                  </p>
              </div>
              {% endfor %}
            {% endif %}
            <div class="row">
              <div class="text-left col-12 col-sm-12 col-md-12 col-lg-12">
                <input type="submit" class="btn mb-3" value="Change Password" id="change-password">
              </div>
            </div>
          </form>
        </div>
      </div>
      <!--End Main Content-->
    </div>

  </div>
  <!--End Body Container-->

</div>
<!--End Page Wrapper-->

{% endblock content %}

{% block scripts %}

    <script src="{% static 'assets/js/custom/accounts/change_password.js' %}"></script>

{% endblock scripts %}