{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Recover Password</title>
{% endblock title %}

{% block content %}

<div id="page-content">
  <!--Body Container-->
  <!--Breadcrumbs-->
  <div class="breadcrumbs-wrapper">
    <div class="container">
      <div class="breadcrumbs"><a href="{% url 'home:index' %}" title="Back to the home page">Home</a> <span
          aria-hidden="true">|</span>
        {% if validlink %}
        <span>Recover Your Password</span>
        {% else %}
        <span>Password reset failed</span>
        {% endif %}
      </div>
    </div>
  </div>
  <!--End Breadcrumbs-->
  <!--Page Title with Image-->
  <div class="page-title">
    {% if validlink %}
    <h1>Recover your password</h1>
    {% else %}
    <h1>Password reset failed</h1>
    {% endif %}
  </div>
  <!--End Page Title with Image-->
  <div class="container">
    <div class="row">
      <!--Main Content-->
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 box offset-md-3">
        {% if validlink %}
        <p>You are only one step a way from your new password, recover your password now.</p>
        <div class="mb-4">
          <form method="post" action="." accept-charset="UTF-8" class="contact-form">
            {% csrf_token %}
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <label for="id_new_password1">New Password <span class="required">*</span></label>
                  {{ form.new_password1 }}
                  <div class="js-validate-password1-error text-danger" role="alert" style="display: none;">
                  </div>
                </div>
                <div class="form-group">
                  <label for="id_new_password2">Confirm Password <span class="required">*</span></label>
                  {{ form.new_password2 }}
                  <div class="js-validate-password2-error text-danger" role="alert" style="display: none;">
                  </div>
                </div>
              </div>
            </div>
            <!-- Display new passwords error message -->
            {% if form.errors %}
              {% for error in form.new_password2.errors %}
              <div class="text-danger pb-3" role="alert">
                  <p class="error-message">
                      <strong>{{ error|escape }}</strong>
                  </p>
              </div>
              {% endfor %}
            {% endif %}
            <div class="row">
              <div class="text-left col-12 col-sm-12 col-md-12 col-lg-12">
                <input type="submit" class="btn mb-3" value="Reset Password" id="change-password">
                <p class="mb-4">
                  <a href="{% url 'accounts:login' %}">« Back To Login Page</a>
                </p>
              </div>
            </div>
          </form>
          {% else %}
          <p>The password reset link was invalid, possibly because it has already been used. Please request a new
            password
            reset.</p>
          <p class="mb-1">
            <a class="text-danger" href="{% url 'password_reset' %}">Request a new password reset</a>
          </p>
          {% endif %}
        </div>
      </div>
      <!--End Main Content-->
    </div>

  </div>
  <!--End Body Container-->

</div>
<!--End Page Wrapper-->

{% endblock content %}

{% block scripts %}

  <script src="{% static 'assets/js/custom/accounts/change_password.js' %}"></script>

{% endblock scripts %}