{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Register</title>
{% endblock title %}

{% block content %}

<div id="page-content">
    <!--Body Container-->
    <!--Breadcrumbs-->
    <div class="breadcrumbs-wrapper">
        <div class="container">
            <div class="breadcrumbs"><a href="{% url 'home:index' %}" title="Back to the home page">Home</a> 
                <span aria-hidden="true">|</span> <span>Create New Account</span>
            </div>
        </div>
    </div>
    <!--End Breadcrumbs-->
    <!--Page Title with Image-->
    <div class="page-title">
        <h1>Create New Account</h1>
    </div>
    <!--End Page Title with Image-->
    <div class="container">
        <!--Main Content-->
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 box">
                <div class="mb-4">
                    <form method="post" action="." accept-charset="UTF-8" class="contact-form">
                        {% csrf_token %}
                        {% include 'accounts/includes/partial_register_form.html' %}
                        <div class="row">
                            <div class="text-left col-12 col-sm-12 col-md-6 col-lg-6">
                                <a href="{% url 'accounts:login' %}">« Back To Login</a>
                            </div>
                            <div class="text-right col-12 col-sm-12 col-md-6 col-lg-6">
                                <input type="submit" class="btn mb-3" id="signup" value="Submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--End Main Content-->
    </div>
    <!--End Body Container-->

</div>
<!--End Page Wrapper-->

{% endblock content %}

{% block scripts %}

    <script src="{% static 'assets/js/custom/accounts/register.js' %}"></script>

{% endblock scripts %}