<div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="form-group">
            <label for="id_first_name">First Name <span class="required">*</span></label>
            {{ form.first_name }}
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="form-group">
            <label for="id_last_name">Last Name <span class="required">*</span></label>
            {{ form.last_name }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="form-group">
            <label for="id_email">Email Address <span class="required">*</span></label>
            {{ form.email }}
            <div class="js-validate-email1-error text-danger" role="alert" style="display: none;">
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="form-group">
            <label for="id_email2">Confirm Email Address <span class="required">*</span></label>
            {{ form.email2 }}
            <div class="js-validate-email2-error text-danger" role="alert" style="display: none;">
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 js-validate-email-error text-danger pl-0 pb-2" id="js-validate-email-error"
        data-url="{% url 'accounts:ajax-validate-email' %}" role="alert" style="display: none;">
</div>
<!-- Display emails error message -->
{% if form.email2.errors %}
    {% for error in form.email2.errors %}
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-danger pl-0 pb-2" role="alert">
        <p class="error-message">
            <strong>{{ error|escape }}</strong>
        </p>
    </div>
    {% endfor %}
{% endif %}
<div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="form-group">
            <label for="id_password">Password <span class="required">*</span></label>
            {{ form.password1 }}
            <div class="js-validate-password1-error text-danger" role="alert" style="display: none;">
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="form-group">
            <label for="id_password2">Confirm Password <span class="required">*</span></label>
            {{ form.password2 }} 
            <div class="js-validate-password2-error text-danger" role="alert" style="display: none;">
            </div>       
        </div>
    </div>
</div>
<!-- Display passwords error message -->
{% if form.password2.errors %}
    {% for error in form.password2.errors %}
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-danger pl-0 pb-2" role="alert">
        <p class="error-message">
            <strong>{{ error|escape }}</strong>
        </p>
    </div>
    {% endfor %}
{% endif %}
<!-- <div class="row">
    <div class="text-left col-12 col-sm-12 col-md-6 col-lg-6">
        <a href="{% url 'accounts:login' %}">« Back To Login</a>
    </div>
    <div class="text-right col-12 col-sm-12 col-md-12 col-lg-12">
        <input type="submit" class="btn mb-3" id="signup" value="Submit">
    </div>
</div> -->