<a class="reviewLink" href="#tab2">
    <div class="star-ratings-css">
        <div class="star-ratings-css-top" style="width: {{ avg_rate_precentage }}%">
            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
        </div>
        <div class="star-ratings-css-bottom">
            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
        </div>
    </div>
    <span class="spr-badge-caption product-reviews-count">{{ reviews_count }} review{{ reviews_count|pluralize }}</span>
</a>