<div class="swatch clearfix swatch-1 option2" data-option-index="1">
    <div class="product-form__item">
        <label class="label">Size:<span class="required">*</span> 
            <span class="slVariant" id='size-name'>{{ first_size }}</span> 
            <a href="#sizechart" class="sizelink btn-link"><i class="anm anm-ruler"></i> Size Guide</a>
        </label>
        <div id="product-size">
            {% for size in product_sizes %}
            <div data-value="{{ size.name|upper }}" class="swatch-element {{ size.name|lower }} available">
                <input class="swatchInput" id="swatch-1-{{ size.name|lower }}" type="radio" name="option-1" 
                {% if forloop.first %}
                checked
                {% endif %}
                value="{{ size.id }}">
                <label class="swatchLbl medium" for="swatch-1-{{ size.name|lower }}" title="{{ size.name|upper }}">{{ size.name|upper }}</label>
            </div>
            {% endfor %}
        </div>
    </div>
</div>